{% extends 'base.html' %}
{% load static %}
{% block title %}
{{ title }}
{% endblock %}

{% block content %}
<h1 class="display-3 text-center "><strong>ИСТОРИЯ СОЗДАНИЯ</strong></h1>
<div class="container overflow-hidden text-center mt-4">
    <div class="row">
        {% for about in abouts %}
        <div class="col-6 h5">
            <div class="p-3">{{ about.description }}</div>
        </div>
        <div class="col-6 my-auto">
            <div class="p-3">
                <img src="{{ about.image.url }} "class="card-img-top">
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}