{% extends 'base.html' %}
{% load static %}
{% block title %}
{{ title }}
{% endblock %}

{% block content %}
<div class="p-2 bg-secondary text-white">
    <br>
    <h1 style="color:gold" class="fw-bolder mt-3">Почему стоит учиться в Geeks?</h1>
    <div class="container text-center m-4 p-4">
        <div class="row">
            <div class="col-6">
                <h1>1</h1>
                <h2>ПРЕПОДАВАТЕЛИ-ПРАКТИКИ</h2>
                <p>В рамках одного курса Вас будет обучать не один преподаватель, а сразу несколько! Все они - действующие специалистами по своему профилю и проходят тщательный отбор и регулярное повышение квалификации.</p>
            </div>
            <div class="col-6">
                <h1>2</h1>
                <h2>МЕНТОРСТВО</h2>
                <p>Во время обучения, помимо Преподавателей, Вам будет доступна персональная поддержка Менторов, которые помогут решить любые проблемы, связанные с учебой. Вы также можете стать Ментором со второго месяца обучения.</p>
            </div>
            <div class="col-6">
                <h1>3</h1>
                <h2>ВОЗМОЖНОСТЬ ЗАРАБОТКА</h2>
                <p>Активные менторы в среднем зарабатывают от 15 000 до 25 000 сомов в месяц, тем самым покрывая расходы на свое обучение уже во время прохождения курса!</p>
            </div>
            <div class="col-6">
                <h1>4</h1>
                <h2>БЕСПЛАТНЫЙ ПОВТОР</h2>
                <p>Одна из главных фишек Geeks - возможность перепройти курс повторно абсолютно бесплатно! Закрепляйте пройденные темы сколько Вам угодно чтобы добиться поставленной цели!</p>
            </div>
            <div class="col-6">
                <h1>5</h1>
                <h2>ОТ 170 ДО 350 ЧАСОВ ЗАНЯТИЙ</h2>
                <p>Получите актуальные теоретические знания и закрепите их, выполняя домашние задания и групповые проекты.</p>
            </div>
            <div class="col-6">
                <h1>6</h1>
                <h2>ЗАПИСЬ УРОКОВ</h2>
                <p>Не смогли прийти на урок? Не беда! Видеозапись будет доступна Вам пожизненно.</p>
            </div>
            <div class="col-6">
                <h1>7</h1>
                <h2>ЗАМОРОЗКА КУРСА</h2>
                <p>Хотите взять перерыв от учебы? Воспользуйтесь услугой “Заморозка курса” и возвращайтесь к обучению в любое удобное время!</p>
            </div>
            <div class="col-6">
                <h1>8</h1>
                <h2>ОТДЕЛ ОБУЧЕНИЯ</h2>
                <p>Для того, чтобы Ваше пребывание на курсе было комфортно и эффективно в Geeks работает целый Отдел обучения, состоящий из кураторов, которые всегда на связи и готовы помочь</p>
            </div>
      </div>
</div>

{% endblock %}