{% extends 'base.html' %}
{% load static %}
{% block title %}
{{ title }}
{% endblock %}

{% block content %}
<br>    
<h1 class=".bg-body-tertiary text-center">Почему стоит учиться в Geeks?</h1>
<div class="container overflow-hidden">
    <br>
    <div class="row gx-5">
        {% for benefit in benefits %}
        <div class="card mx-4" style="width: 25rem;">
            <div class="card-body">
                <h2 class="card-title">{{ benefit.title }}</h2>
                <br>
                <h3 class="card-subtitle mb-2 text-body-secondary">{{ benefit.description }}</h3>
            </div>
        </div>
        <br>
        {% endfor %}
  </div>
</div>
{% endblock %}