{% extends 'base.html' %}
{% load static %}
{% block title %}
{{ title }}
{% endblock %}

{% block content %}
<br>
<h1 class="display-3 text-center "><strong>ЧАСТО ЗАДАВАЕМЫЕ ВОПРОСЫ</strong></h1>
<div class="accordion mx-4 my-4" id="accordionExample">
    {% for faq in faqs %}
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button fs-2" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            {{ faq.question }}
        </button>
      </h2>
    </div>
    <div id="collapseOne" class="accordion-collapse collapse show fs-5" data-bs-parent="#accordionExample">
        <div class="accordion-body">
            <strong>{{ faq.answer }}</strong>
        </div>
    </div>
    {% endfor %}
</div>   

{% endblock %}
